{% extends 'base.html' %}

 {% block content %}

  <h1>PBP Tugas 3</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{id}}</p>

  <button class="GFG" 
  onclick="window.location.href = 'https://daffailham.herokuapp.com/mywatchlist/html';">
    HTML File
  </button>

  <button class="GFG" 
  onclick="window.location.href = 'https://daffailham.herokuapp.com/mywatchlist/json';">
    JSON File
  </button>

  <button class="GFG" 
  onclick="window.location.href = 'https://daffailham.herokuapp.com/mywatchlist/xml';">
    XML File
  </button>

  {% if banyak %}
    <p>Selamat, kamu sudah banyak menonton!</p>
  {% else %} //if that url isn't a video
    <p>Wah, kamu masih sedikit menonton!</p>
  {% endif %}

 {% endblock content %}