{% extends 'base.html' %}

 {% block content %}

  <h1>Data Watchlist</h1>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for item in watchlist %}
        <tr>
            <th>{{item.watched}}</th>
            <th>{{item.title}}</th>
            <th>{{item.rating}}</th>
            <th>{{item.release_date}}</th>
            <th>{{item.review}}</th>
        </tr>
    {% endfor %}
  </table>

 {% endblock content %}